@model HomeVM[]


  <body>  
    <nav>
        <a asp-controller="Products" asp-action="Home">Handla</a>
        <a asp-controller="Products" asp-action="NewAds">Sälj</a>
        <a asp-controller="Products" asp-action="MyAds">Mina annons</a>
        <a asp-controller="Products" asp-action="LogIn">Logga in</a>
        <a asp-controller="Products" asp-action="CreateUser">Skapa ett konto</a>
    </nav>
    <hr/>
    <div>
        <input id="searchId"></input>
        <input type="submit" value="Search" />
        <hr/>
        <a asp-controller="Products" asp-action="ListOfAds">Kläder</a>
        <a asp-controller="Products" asp-action="ListOfAds">Skor</a>
        <a asp-controller="Products" asp-action="ListOfAds">Leksaker</a>
        <a asp-controller="Products" asp-action="ListOfAds">Accessoarer</a>
        <a asp-controller="Products" asp-action="ListOfAds">TV-Spel</a>

    </div>
    
</body>
</html>