@model KidsAndToys.Views.Products.HomeVM[]

<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>KidsAndToys</title>
</head>
<body>
    <h1>Kids N' Toys</h1>
    
    <nav>
        <a asp-controller="Products" asp-action="Home">Handla</a>
        <a asp-controller="Products" asp-action="NewAds">Sälj</a>
        <a asp-controller="Products" asp-action="MyAds">Mina annons</a>
        <a asp-controller="Products" asp-action="LogIn">Logga in</a>
        <a asp-controller="Products" asp-action="CreateUser">Skapa ett konto</a>
    </nav>
    <hr/>

</body>
</html>