@model HomeVM[]
 
        <input id="searchId"></input>
        <input type="submit" value="Search" />
        <hr/>
        <a asp-controller="Products" asp-action="ListOfAds">Kläder</a>
        <a asp-controller="Products" asp-action="ListOfAds">Skor</a>
        <a asp-controller="Products" asp-action="ListOfAds">Leksaker</a>
        <a asp-controller="Products" asp-action="ListOfAds">Accessoarer</a>
        <a asp-controller="Products" asp-action="ListOfAds">Övrigt</a>
   