@model HomeVM[]
@{
    ViewData["Title"] = "KidsN'Toys";

}
 @Html.Partial("Search")
        
        <hr/>
        <a asp-controller="Products" asp-action="ClothesCategory" >Kläder</a>
        <a asp-controller="Products" asp-action="ShoesCategory">Skor</a>
        <a asp-controller="Products" asp-action="ToysCategory">Leksaker</a>
        <a asp-controller="Products" asp-action="AccessoriesCategory">Accessoarer</a>
        <a asp-controller="Products" asp-action="OtherCategory">Övrigt</a>
   