@model ListOfAdsVM[]

<h3>Lista av annonser</h3>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.ProductName <br/> @item.Price kr <br/> @item.Condition.Title <br/> @item.City.Title <br/> <img src="/uploads/@item.AdsPic" /></li>
    }
</ul>