@model MyAdsVM[]

<h3>Mina annonser</h3>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.ProductName <br/>@item.Price <br/> <img src="/uploads/@item.Picture" /></li>
        <button>Redigera</button>
        <button>Radera</button>
    }
</ul>