@model MyAdsVM[]
@{
    ViewData["Title"] = "Mina Annonser";

}
<head>
    <link href="~/Css/StyleSheet.css" rel="stylesheet" type="text/css">
</head>
<div>

<h3>Mina annonser</h3>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.ProductName <br/>@item.Price kr <br/> <span style="float:right"><img src="/uploads/@item.Picture"/></span></li>
        <button>Redigera</button>
        <button>Radera</button>
    }
</ul>

</div>