@model MyAdsVM[]
@{
    ViewData["Title"] = "Mina Annonser";

}
<head>
    <link href="~/Css/StyleSheet.css" rel="stylesheet" type="text/css">
</head>

<h3>Mina annonser</h3>

<div class=annons>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.ProductName <br/>@item.Price kr <br/> <img src="/uploads/@item.Picture" /></li>
        <button>Redigera</button>
        
        <button><a aspcontroller="Products" asp-action="Delete" asp-route-id = "@item.Id">Radera</a></button>
    }
</ul>
</div> 