@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="se">
    
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="~/Css/StyleSheetLayout.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.title</title>
   
</head>
<body>
   
    <div class="nav_header">

            <nav class="logIn">
                <ul class="ul_nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="li_nav">
                            <a asp-controller="Products" asp-action="MyAds" class="navstyle-logIn">&nbsp; Mina annons &nbsp;</a>
                        </li>
                        <li class="li_nav">
                            <a asp-controller="Users" asp-action="Logout" 
                            class="navstyle-logIn">&nbsp;&nbsp; Logga ut &nbsp;&nbsp;<i class="fa fa-user-circle-o"></i> &nbsp;</a>
                        </li>
                    }
                    else
                    {
                        <li class="li_nav">
                            <a asp-controller="Users" asp-action="CreateUser" class="navstyle-logIn">Skapa ett konto</a>
                        </li>
                        <li class="li_nav">
                             <a asp-controller="Users" asp-action="LogIn" class="navstyle-logIn">&nbsp;&nbsp;&nbsp; Logga in &nbsp;&nbsp;<i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;&nbsp;</a>
                        </li>
                    }
                </ul>

            </nav>
        <div class="logo">
            <a asp-controller="Products" asp-action="Home"><h1><b>Kids N' Toys</b></h1></a>
            <div class = "nav-item" >
                 <a class="navstyle @(ViewContext.RouteData.Values["Action"].ToString() == "ListOfAds" ? "active" : "")" 
                 asp-controller="Products" asp-action="ListOfAds" class="navstyle">&nbsp;Handla&nbsp;</a>
                 <a class="navstyle @(ViewContext.RouteData.Values["Action"].ToString() == "NewAds" ? "active" : "")" 
                 asp-controller="Products" asp-action="NewAds" class="navstyle">&nbsp;&nbsp;&nbsp;&nbsp;Sälj&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
            <br/>
        </div>
     

    </div>
    <hr />

    
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="footer_upper">
            <a asp-controller="SidePages" asp-action="About">Om oss</a>
            <a asp-controller="SidePages" asp-action="Policy">Säkerhetspolicyn </a>
            <br/><br/>
            <p>Kontakt:<br/> 
                  <span class="footer_detail">
                      Email: kidsNtoy@kidsntoy.com <br /> Adress: Silverstigen 150 <br /> 150 56 Göteborg
                  </span> 
            </p>
            <div class="footer_lower">
                <p>&copy; KidsN'Toys 2022</p>
            </div>
        </div>
    </footer>
</body>

</html>
