@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="se">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	<title>@ViewBag.title</title>
	<style>
		  body {
            color: black;
            font-family: 'Bahnschrift';
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
		footer {
			text-align:left;
			padding:3px;
			background-color:white;
			color:black;
			flex-direction: column;
            justify-content: center;
            align-items: center;
		}
		 .navstyle {
            border: solid White 1px;
            border-radius: 5px;
            margin: 0 4px;
            padding: 4px;
        }
		
		a:hover{
			color:rgb(254, 227, 229);
		}
	</style>
</head>
<body>
	<a aspcontroller="Products" asp-action="Home" class = "navstyle"><h1>Kids N' Toys</h1></a>
	<nav>
		<a asp-controller="Products" asp-action="ListOfAds" class = "navstyle">Handla</a>
		<a asp-controller="Products" asp-action="NewAds" class = "navstyle">Sälj</a>
		
		@if (User.Identity.IsAuthenticated)
		{
			<a asp-controller="Products" asp-action="MyAds" class = "navstyle">Mina annons</a>
			<a asp-controller="Products" asp-action="Logout" class = "navstyle">Logga ut</a>
		}
		else
		{

			<a asp-controller="Products" asp-action="LogIn" class = "navstyle">Logga in</a>
			<a asp-controller="Products" asp-action="CreateUser" class = "navstyle">Skapa ett konto</a>
		}

		
	</nav>
	<hr/>
	<div>
		@RenderBody()
	</div>
	<footer>
		<hr />
	   

			
			<a asp-controller="Products" asp-action="About" >Om oss</a>
			<a asp-controller="Products" asp-action="Policy"style="">Säkerhetspolicyn </a>
			<br>
			<p style="float:left">Contact<br/>Email: kidsNtoy@kidsntoy.com <br /> Adress: Silverstigen 150, 150 56 Göteborg</p>
	  
	</footer>
</body>

</html>
