@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="se">
    
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>@ViewBag.title</title>
    <style>
        body {
            color: black;
            font-family: 'Bahnschrift';
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .header {
            width: 100%;
            height: 100%;
            display: block;
            margin: 0 auto;
            background-color: #b4e1d8;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .logIn{
            float: right;
            position: relative;
            bottom: 100px
            
        }
        .sell-shop{
            
            flex-direction:row;
            position: relative;
            top: 26px;
        }

        .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .navstyle-logIn {
            border: solid Black 1px;
            border-radius: 20px;

            padding: 4px;
            
        }
        .navstyle-logIn:hover {
        background-color: white;
        }
        .navstyle{
            border: solid Black 1px;
            border-radius: 20px;
            border-bottom: none;
            border-bottom-right-radius: 0px;
            margin: 0 40px;
            padding: 5px;
            font-size: x-large;
            padding-left: 25px;
            padding-right: 25px;
            border-bottom-left-radius: 0px;
        }
        .navstyle:hover{
            background-color: white;
            border: white;
            
        }

        a {
            text-decoration: none;
            color: black;
        }

            a:hover {
                color: forestgreen;
            }

        footer {
            text-align: center;
            padding: 0px;
            background-color: #b4e1d8;
            color: black;
            display: block;
            width: 100%;
            
        }

        .footerlinks{
            position: relative;
            margin: 20px;

        }

        .navstyle-login-logout{
            border: solid Black 1px;
            border-radius: 20px;
            padding: 4px;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
            border-right: none;
            width: 100%;           
        }
        .navstyle.active{
            border: solid Black 1px;
            border-radius: 20px;
            border-bottom: none;
            border-bottom-right-radius: 0px;
            margin: 0 40px;
            padding: 5px;
            font-size: x-large;
            padding-left: 25px;
            padding-right: 25px;
            border-bottom-left-radius: 0px;
            background-color: white;
        }

        
    </style>
</head>
<body>
    <div class="header">

        <div class="logo">
            
            <a asp-controller="Products" asp-action="Home"><h1><b>Kids N' Toys</b></h1></a>
            <div class="sell-shop">



            <a class="navstyle @(ViewContext.RouteData.Values["Action"].ToString() == "ListOfAds" ? "active" : "")" asp-controller="Products" asp-action="ListOfAds" class="navstyle">&nbsp;Handla&nbsp;</a>
            <a class="navstyle @(ViewContext.RouteData.Values["Action"].ToString() == "NewAds" ? "active" : "")" asp-controller="Products" asp-action="NewAds" class="navstyle">&nbsp;&nbsp;&nbsp;&nbsp;Sälj&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>

        </div>
        <div class="logIn">
            <nav>

                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Products" asp-action="MyAds" class="navstyle-logIn">Mina annons</a>
                    <a asp-controller="Users" asp-action="Logout" class="navstyle-logIn-logout">Logga ut</a>
                    @*<a asp-controller="Users" asp-action="Logout" class="navstyle-logIn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logga ut&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>*@
                }
                else
                {

                    <a asp-controller="Users" asp-action="CreateUser" class="navstyle-logIn" style="margin-left:10px">Skapa ett konto</a>
                    <a asp-controller="Users" asp-action="LogIn" class="navstyle-logIn-logout">Logga in</a>
                    @*<a asp-controller="Users" asp-action="LogIn" class="navstyle-logIn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logga in&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>*@
                    @*<a asp-controller="Users" asp-action="CreateUser" class="navstyle-logIn">Skapa ett konto</a>*@
                }

            </nav>

        </div>

    </div>
    <hr />

    
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class ="footerlinks">
             

             
            
                <a asp-controller="SidePages" asp-action="About">Om oss</a>
                <a asp-controller="SidePages" asp-action="Policy" style="margin-left: 300px ">Säkerhetspolicyn </a>
           
                <br>
                <p>Contact<br />Email: kidsNtoy@kidsntoy.com <br /> Adress: Silverstigen 150, 150 56 Göteborg</p>


        </div>
        </div>
    </footer>
</body>

</html>
