@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>@ViewBag.title</title>
</head>
<body>
    <a aspcontroller="Products" asp-action="Home"><h1>Kids N' Toys</h1></a>
    <nav>
        <a asp-controller="Products" asp-action="ListOfAds">Handla</a>
        <a asp-controller="Products" asp-action="NewAds">Sälj</a>
        
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Products" asp-action="MyAds">Mina annons</a>
            <a asp-controller="Products" asp-action="Logout">Logga ut</a>
        }
        else
        {

            <a asp-controller="Products" asp-action="LogIn">Logga in</a>
            <a asp-controller="Products" asp-action="CreateUser">Skapa ett konto</a>
        }

        
    </nav>
    <hr/>
    <div>
        @RenderBody()
    </div>
    <footer>
        <hr/>
        <a asp-controller="Products" asp-action="Contact">Kontakt</a>
        <a asp-controller="Products" asp-action="AboutUs">Om oss</a>
        <a asp-controller="Products" asp-action="SecurityPolicy">Säkerhetspolicyn </a>
    </footer>
</body>

</html>
