/*
    CSS for KidsNToys site
*/

h3{
    text-align:center;
}


div {
    font-family:Bahnschrift,Arial,sans-serif;
    font-size:medium;
    color:black;
}

span{
    text-align:left;
    width:50px;
    le
}
